* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}



.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.keyboard-container {
    position: relative;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.key {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.naturals .key {
    width: 44px;
    height: 120px;
    border: 1px solid black;
    background-color: white;
    text-align: center;

}

.accidentals {
    position: absolute;
    top: 0;
    left: -6px;
    width: 100%;
}

.accidentals div {
    width: 24px;
    height: 76px;
    border: 1px solid transparent;
}

.accidentals .key {
    background-color: black;
    border-color: black;
    align-items: center;
    color: aliceblue;
}

.accidentals .spacer {
    margin-left: 11px;
}